{% extends 'base.html.twig' %}
{% block inscricao %}
    {{ inscricao.id }}{% endblock %}
{% block progresso %}66%{% endblock %}
{% block body %}
    <h6>Comprovantes de Depósito/Transferência</h6>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Arquivo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if (inscricao.comprovantes.count == 0) %}
                <tr>
                    <td colspan="2">Nenhum comprovante enviado até o momento.<br>
                            <span class="text-danger">Esta inscrição será cancelada caso você não insira um comprovante em até 48h! ({{ inscricao.dataLimitePagamento|date('d/m/Y H:i:s') }})</span>
                        </td>
                    </tr>
                    {% else %}
                    {% for comprovante in inscricao.comprovantes %}
                        <tr>
                            <td>
                                <a href="{{ asset('comprovantes/' ~ comprovante.arquivo) }}" target="_blank">Comprovante
                                    {{ comprovante.data|date('d/m/Y H:i:s') }}</a>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm" onclick="excluirComprovante(this, {{ comprovante.id }})" type="button">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <form class="alert alert-secondary" enctype="multipart/form-data" method="post">
            {{ form_errors(form.arquivo) }}
            <div class="form-group">
                <label for="form_arquivo">
                    <b>Enviar comprovante:</b>
                </label>
                <input accept="application/pdf,image/*" id="form_arquivo" name="form[arquivo]" required type="file"></div>
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-upload"></i>
                    Enviar</button>
                <input type="hidden" name="form[_token]" value="{{ form._token.vars.value }}"/>
            </form>
            <p>
                <a href="{{ path('edit-step-2', {'inscricao': inscricao.id }) }}" class="btn btn-secondary">
                    <i class="fas fa-chevron-left"></i>
                    Anterior</a>
                <a href="{{ path('resumo-inscricao', {'inscricao': inscricao.id, 'success': 1 }) }}" class="btn btn-success float-right" id="proximo">Próximo
                    <i class="fas fa-chevron-right"></i>
                </a>
            </p>
            <script>
                function excluirComprovante(elem, cid) {
                    if (confirm('Confirmar a exclusão do comprovante selecionado?')) {
                        $.get('{{ path("excluir-comprovante") }}', {id: cid});
                        location.reload();
                    }
                }
            </script>
        {% endblock %}
    