{% extends 'admin.html.twig' %}

{% block inscricao %}{{ inscricao.id }}
{% endblock %}

{% block progresso %}100%{% endblock %}

{% block body %}
    <h2 class="text-center">Resumo da Inscrição</h2>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Dados da Regional
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm">
                            <b>Cidade:</b><br>
                            {{ inscricao.cidade }}
                        </div>
                        <div class="col-12 col-sm">
                            <b>Estado:</b><br>
                            {{ inscricao.uf }}
                        </div>
                        <div class="col-12 col-sm">
                            <b>Diretor:</b><br>
                            {{ inscricao.diretor }}
                        </div>
                        <div class="col-12 col-sm">
                            <b>E-mail:</b><br>
                            {{ inscricao.email }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Financeiro
                </div>
                <div class="card-body">
                    {% if inscricao.depositoIdentificado %}
                        <div class="alert alert-success">
                            Depósito identificado!
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            Depósito não identificado até o momento.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Resumo da estadia
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for estadia, quantidade in estadias %}
                            <div class="col">
                                <b>{{estadia}}:</b>
                                {{quantidade}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Membros inscritos
                </div>
                {% for membro in inscricao.membros %}
                    <div class="card-body">
                        <h5 class="card-title">{{ membro.nome }}</h5>
                        <div class="card-text row">
                            <div class="col-12 col-sm">
                                <b>Veículo:</b>
                                {{ membro.veiculo }}
                            </div>
                            <div class="col-12 col-sm">
                                <b>Estadia:</b>
                                {{ membro.estadia }}
                            </div>
                            <div class="col-12 col-sm">
                                <b>Camiseta:</b>
                                {{ membro.camiseta }}
                            </div>
                            <div class="col-12 col-sm">
                                <b>Calçado:</b>
                                N°
                                {{ membro.calcado }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div><br>

    <a href="{{ path('catre') }}" class="btn btn-primary">Voltar</a>

{% endblock %}